@import '../mixins';
@import '../variables';

.pomodoro__task {
  flex-direction: $flexColumn;
  @include flex-content;
  @include easeOutAnimation;
  @include easeOutKeyframes;

  button {
    width: $fullWidth;
    margin: $defaultMargin 0;
    border-radius: 25px;
  }

  article {
    margin: $defaultMargin;
    cursor: pointer;
  }

  .pomodoro-count {
    @include easeOutAnimation;
    @include easeOutKeyframes;

    .choose-pomodoro-count {
      @include flex-content;
    }
  }

  .task-content {
    @include easeOutAnimation;
    @include easeOutKeyframes;

    .choose-time {
      @include flex-content;

      input {
        width: 20%;
      }
    }
  }

  .break-content {
    @include easeOutAnimation;
    @include easeOutKeyframes;

    .choose-break {
      @include flex-content;
    }
  }
}
