@import '../mixins';

.pomodoro__task {
  @include flex-content;
  flex-direction: column;

  input {
    &:active {
      transform: translateY(6px);;
    }
  }

  button {
    width: 100%;
    margin: 0.5rem 0;
    border-radius: 25px;
  }

  .task-content {
    animation: fadeInFromNone 0.5s ease-out;
    transform: translateY(20px);

    @include easeOutAnimation;

    article {
      margin-top: 0.5rem;
    }

    .choose-time {
      @include flex-content;

      article {
        margin: 0.5rem 1rem;
      }
    }

    .break-content {
      animation: fadeInFromNone 0.5s ease-out;
      transform: translateY(20px);

      @include easeOutAnimation;

      .choose-break {
        @include flex-content;

        article {
          margin: 0.5rem 1rem;
        }
      }
    }
  }
}
