@import '~antd/dist/antd.css';
@import 'mixins';

.pomodoro {
  background: #DB7192;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  height: 100vh;

  button {
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 150ms ease-in-out;

    &:active {
      transform: translateY(4px);
    }

    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 100%;
      background: #1ABD9C;
      z-index: -1;
      transition: width 150ms ease-in-out;
    }

    &:hover {
      color: #fff;

      &:after {
        width: 100%;
      }
    }
  }
}
