@font-face {
  font-family: 'Heebo';
  src: url('fonts/Heebo-Medium.ttf');
  src: local('fonts/Heebo Medium'), local('Heebo Medium'),
    url('fonts/Heebo-Medium.ttf'), format('ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Heebo';
  src: url('fonts/Heebo-Regular.ttf');
  src: local('fonts/Heebo Regular'), local('Heebo Regular'),
    url('fonts/Heebo-Regular.ttf'), format('ttf');
  font-weight: 800;
}
