@import './variables';

@mixin flex-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin easeOutAnimation {
  animation: fadeInFromNone $easeOutAnimation;
  transform: translateY(20px);
}

@mixin easeOutKeyframes {
  @keyframes fadeInFromNone {
    0% {
      display: none;
      opacity: 0;
      transform: translateY(0px);;
    }

    100% {
      display: $displayBlock;
      opacity: 1;
      transform: translateY(20px);;
    }
  }
}
