@import '~antd/dist/antd.css';
@import 'components/all';
@import 'fonts';
@import 'mixins';

* { font-family: 'Heebo' !important }

.pomodoro {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5);
  background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  height: $vhHeight;

  @keyframes gradient {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
  }

  button {
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color $easeOutAnimation;

    &:active { transform: translateY(4px) }

    &:after {
      content: '';
      position: absolute;
      display: $displayBlock;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: $vhHeight;
      background: #1ABD9C;
      z-index: -1;
      transition: width $easeOutAnimation;
    }

    &:hover {
      color: #fff;
      &:after { width: $fullWidth }
    }
  }
}
